{% extends 'base.html.twig' %}

{% block title %}CommentaireMarche index{% endblock %}

{% block body %}
    <h1>CommentaireMarche index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Note</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire_marche in commentaire_marches %}
            <tr>
                <td>{{ commentaire_marche.id }}</td>
                <td>{{ commentaire_marche.titre }}</td>
                <td>{{ commentaire_marche.note }}</td>
                <td>{{ commentaire_marche.contenu }}</td>
                <td>
                    <a href="{{ path('app_commentaire_marche_show', {'id': commentaire_marche.id}) }}">show</a>
                    <a href="{{ path('app_commentaire_marche_edit', {'id': commentaire_marche.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commentaire_marche_new') }}">Create new</a>
{% endblock %}
